section.offers(id="offers")
    .offers__left
        .offer
            img.offer__image(src='img/offers/Elantra.png', alt='Elantra')
            h2.offer__head Диагностика
                br
                |в подарок!
            p.offer__text Пройдите полную лиагностику автомобиля бесплатно при последующем прохождении ремонта в нашем дилерском центре.
            button.hyundai-button(type='button' data-target="feedbackModal"  name="offer" value="Диагностика в подарок!") Заказать звонок
    .offers__right
        .offer
            img.offer__image(src='img/offers/Cofee.png', alt='Cofee')
            h2.offer__head Бесплатный кофе
                br
                |при прохождении ТО!
            p.offer__text Мы заботимся о наших клиентах, поэтому у нас есть своя кофейня с баристой!
            button.hyundai-button.hyundai-button--bottom(type='button' data-target="feedbackModal" name="offer" value="Бесплатный кофе при прохождении ТО!") Заказать звонок