section.pricelist
	.container
		.pricelist__head Услуги сервиса
		.pricelist__content
			.pricelist__left
				ul.catalog-list
					li.catalog-list__item.active
						label(for='tyres') Шиномонтаж
					li.catalog-list__item
						label(for='tyres') Замена эксплуатационных жидкостей
					li.catalog-list__item
						label(for='fluid') Ремонт тормозной системы
					li.catalog-list__item
						label(for='brakes') Масляно—кузовные работы
					li.catalog-list__item
						label(for='paint') Ремонт подвески
					li.catalog-list__item
						label(for='suspension') Автомойка
					li.catalog-list__item
						label(for='carwash') Ремонт электрооборудовани
					li.catalog-list__item
						label(for='autoelectrics') Агрегатный ремонт
			.pricelist__right
				.prices
					ul.prices__list
						li.prices__item
							span.prices__item-name Развал—схождение
							span.prices__item-price.prices__price--from 1350
						li.prices__item
							span.prices__item-name Шиномонтаж
							span.prices__item-price.prices__price--from 2000
						li.prices__item
							span.prices__item-name Сезонное крепление колёс
							span.prices__item-price 2500
						li.prices__item
							span.prices__item-name Осмотр ходовой системы
							span.prices__item-price 1500
						li.prices__item
							span.prices__item-name Проверка трансмиссии
							span.prices__item-price 700
						li.prices__item
							span.prices__item-name Диагностика
							span.prices__item-price 500
					button.hyundai-button(type='button') Заказать звонок
section.test-section
