.slider-stranges{
    height: 50vh;
    position: relative;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.splide__arrow{
    width: 4.5rem;
    height: 4.5rem;
    background-color: #003469;
    opacity: 1;

    svg{
        height: 1.5rem;
        width: unset;
        fill: #fff;
    }
    &:disabled{
        background: none;
        svg{
            height: 1.5rem;
            width: unset;
            fill: #AEAEAE;
        }
    }
}

.splide__track{
    height: 100%;
}

.splide__slide__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .stranges-slide__text{
        font-size: 3.75rem;
        text-align: center;
    }
}

.splide__pagination{
    .splide__pagination__page.is-active{
        background-color: #003469;
        opacity: 1;
    }
}

