ul.calc-dropdown
    li.calc-dropdown__item
        label(for='to-1') ТО-1
        input#to-1(type='radio', name='reglament-item', value='1')
    li.calc-dropdown__item
        input#to-2(type='radio', name='reglament-item', value='2')
        label(for='to-2') ТО-2
    li.calc-dropdown__item
        input#to-3(type='radio', name='reglament-item', value='3')
        label(for='to-3') ТО-3
    li.calc-dropdown__item
        input#to-4(type='radio', name='reglament-item', value='4')
        label(for='to-4') ТО-4
    li.calc-dropdown__item
        input#to-5(type='radio', name='reglament-item', value='5')
        label(for='to-5') ТО-5
    li.calc-dropdown__item
        input#to-6(type='radio', name='reglament-item', value='6')
        label(for='to-6') ТО-6
    li.calc-dropdown__item
        input#to-7(type='radio', name='reglament-item', value='7')
        label(for='to-7') ТО-7
    li.calc-dropdown__item
        input#to-8(type='radio', name='reglament-item', value='8')
        label(for='to-8') ТО-8