.reglament-tab
	-
		var calculator = {
			reglament: {
				head: 'Прохождение ТО',
				data: {
					model: {
						name: 'Модель',
						value: ['creta', 'tucson', 'solaris', 'santa', 'palisade', 'h1'],
					},
					engineValue: {
						name: 'Рабочий объем',
						value: ['1.4', '1.6', '1.8', '2.0', '2.4 GDi', '2.5', '1.6T GDI', '2.5 GDI', '3.5', '2.2', '2.4', '3.3', '3.0 GDI'],
					},
					engineType: {
						name: 'Тип двигателя',
						value: ['бензиновый', 'дизельный'],
					},
					reglamentCount: {
						name: 'Номер ТО',
						value: ['ТО-1', 'ТО-2', 'ТО-3', 'ТО-4', 'ТО-5', 'ТО-6', 'ТО-7'],
					}
				}

			},
			oil: {
				head: 'Масляный сервис',
				data: {
					model: {
						name: 'Модель',
						value: ['creta', 'tucson', 'solaris', 'santa', 'palisade', 'h1'],
					},
					engineValue: {
						name: 'Рабочий объем',
						value: ['1.4', '1.6', '1.8', '2.0', '2.4 GDi', '2.5', '1.6T GDI', '2.5 GDI', '3.5', '2.2', '2.4', '3.3', '3.0 GDI'],
					},
					engineType: {
						name: 'Тип двигателя',
						value: ['бензиновый', 'дизельный'],
					},
					reglamentCount: {
						name: 'Номер ТО',
						value: ['ТО-1', 'ТО-2', 'ТО-3', 'ТО-4', 'ТО-5', 'ТО-6', 'ТО-7'],
					}
				}
			}
		};


	ul.calc-filter__tabs
		each val, countIndex in calculator.reglament
			+radio(val.name, countIndex)
			+filter-category(val.name, calculator.reglament.head, reglament)
				ul.calc-dropdown
					each category, key in val.data
						//- +dropdown-item(key, category.name)
		//- li.calc-filter__tabs-item
		//- 	input#reglament-model(type='radio', name='reglament-category', checked='')
		//- 	label.tab-label(for='reglament-model')
		//- 		span Модель
		//- 		.toggle
			ul.calc-dropdown
			+dropdown-item('creta', 'model')
			+dropdown-item('tucson', 'model')
			+dropdown-item('solaris', 'model')
			+dropdown-item('santa FE', 'model')
			+dropdown-item('palisade', 'model')
			+dropdown-item('h1', 'model')
//- 		li.calc-filter__tabs-item
//- 			input#reglament-value(type='radio', name='reglament-category')
//- 			label.tab-label(for='reglament-value')
//- 				span Рабочий объем
//- 				.toggle
//- 			ul.calc-dropdown
//- 				li.calc-dropdown__item
//- 					label(for='to-1') ТО-1
//- 					input#to-1(type='radio', name='reglament-item', value='1')
//- 				li.calc-dropdown__item
//- 					input#to-2(type='radio', name='reglament-item', value='2')
//- 					label(for='to-2') ТО-2
//- 				li.calc-dropdown__item
//- 					input#to-3(type='radio', name='reglament-item', value='3')
//- 					label(for='to-3') ТО-3
//- 				li.calc-dropdown__item
//- 					input#to-4(type='radio', name='reglament-item', value='4')
//- 					label(for='to-4') ТО-4
//- 				li.calc-dropdown__item
//- 					input#to-5(type='radio', name='reglament-item', value='5')
//- 					label(for='to-5') ТО-5
//- 				li.calc-dropdown__item
//- 					input#to-6(type='radio', name='reglament-item', value='6')
//- 					label(for='to-6') ТО-6
//- 				li.calc-dropdown__item
//- 					input#to-7(type='radio', name='reglament-item', value='7')
//- 					label(for='to-7') ТО-7
//- 				li.calc-dropdown__item
//- 					input#to-8(type='radio', name='reglament-item', value='8')
//- 					label(for='to-8') ТО-8
//- 		li.calc-filter__tabs-item
//- 			input#reglament-engine(type='radio', name='reglament-category')
//- 			label.tab-label(for='reglament-engine')
//- 				span Тип двигателя
//- 				.toggle
//- 			ul.calc-dropdown
//- 				li.calc-dropdown__item
//- 					label(for='to-1') ТО-1
//- 					input#to-1(type='radio', name='reglament-item', value='1')
//- 				li.calc-dropdown__item
//- 					input#to-2(type='radio', name='reglament-item', value='2')
//- 					label(for='to-2') ТО-2
//- 				li.calc-dropdown__item
//- 					input#to-3(type='radio', name='reglament-item', value='3')
//- 					label(for='to-3') ТО-3
//- 				li.calc-dropdown__item
//- 					input#to-4(type='radio', name='reglament-item', value='4')
//- 					label(for='to-4') ТО-4
//- 				li.calc-dropdown__item
//- 					input#to-5(type='radio', name='reglament-item', value='5')
//- 					label(for='to-5') ТО-5
//- 				li.calc-dropdown__item
//- 					input#to-6(type='radio', name='reglament-item', value='6')
//- 					label(for='to-6') ТО-6
//- 				li.calc-dropdown__item
//- 					input#to-7(type='radio', name='reglament-item', value='7')
//- 					label(for='to-7') ТО-7
//- 				li.calc-dropdown__item
//- 					input#to-8(type='radio', name='reglament-item', value='8')
//- 					label(for='to-8') ТО-8
//- 		li.calc-filter__tabs-item
//- 			input#reglament-num(type='radio', name='reglament-category')
//- 			label.tab-label(for='reglament-num')
//- 				span Номер ТО
//- 				.toggle
//- 			ul.calc-dropdown
//- 				li.calc-dropdown__item
//- 					label(for='to-1') ТО-1
//- 					input#to-1(type='radio', name='reglament-item', value='1')
//- 				li.calc-dropdown__item
//- 					input#to-2(type='radio', name='reglament-item', value='2')
//- 					label(for='to-2') ТО-2
//- 				li.calc-dropdown__item
//- 					input#to-3(type='radio', name='reglament-item', value='3')
//- 					label(for='to-3') ТО-3
//- 				li.calc-dropdown__item
//- 					input#to-4(type='radio', name='reglament-item', value='4')
//- 					label(for='to-4') ТО-4
//- 				li.calc-dropdown__item
//- 					input#to-5(type='radio', name='reglament-item', value='5')
//- 					label(for='to-5') ТО-5
//- 				li.calc-dropdown__item
//- 					input#to-6(type='radio', name='reglament-item', value='6')
//- 					label(for='to-6') ТО-6
//- 				li.calc-dropdown__item
//- 					input#to-7(type='radio', name='reglament-item', value='7')
//- 					label(for='to-7') ТО-7
//- 				li.calc-dropdown__item
//- 					input#to-8(type='radio', name='reglament-item', value='8')
//- 					label(for='to-8') ТО-8
//- input#oil-tab-input.calc-tab-input(type='radio', name='calc-tab')