.modal{
    height: 100vh;
    background-color: $color-hyundai-blue;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity .3s;
    z-index: 10;
    &.modal-hide{
        opacity: 0;
        z-index: -2;
    }
}

.close{
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 25px;
    height: 25px;
    &::before,
    &::after{
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fff;
    }
    &::before{
        transform: translateY(10px) rotate(45deg);
    }
    &::after{
        transform: translateY(10px) rotate(-45deg);
    }

}

.modal__text{
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.feedback__form-inputs--margin-bottom{
    margin-bottom: 1.25rem;
}

.modal__agreeement{
    font-size: 1.125rem;
    color: #D4D4D4;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 1.5rem;
}

.modal__agreeement-input{
    margin-right: 1rem;
}

.modal__agreeement-text{
    max-width: 60%;
}

.success{
    color: #fff;
    &--feetback{
        color: #000;
    }
}

@media (min-width: 656px) {
    .modal__text{
        color: #fff;
        font-size: 1.4rem;
    }
    .close{
        top: 6rem;
        right: 2.5rem;
        width: 30px;
        height: 30px;
        &::before,
        &::after{
            width: 30px;
            height: 2px;
        }
        &::before{
            transform: translateY(12px) rotate(45deg);
        }
        &::after{
            transform: translateY(12px) rotate(-45deg);
        }
    }
}
@media (min-width: 848px) {
    .modal__text{
        color: #fff;
        font-size: 1.7rem;
        margin-bottom: 1.7rem;
    }
    .close{
        top: 8rem;
        right: 4.5rem;
        width: 36px;
        height: 36px;
        &::before,
        &::after{
            width: 36px;
            height: 2px;
        }
        &::before{
            transform: translateY(14px) rotate(45deg);
        }
        &::after{
            transform: translateY(14px) rotate(-45deg);
        }
    }
}
@media (min-width: 1032px) {
    .modal__text{
        color: #fff;
        font-size: 2.1rem;
        margin-bottom: 2.1rem;
    }
    .close{
        top: 10rem;
        right: 5rem;
        width: 40px;
        height: 40px;
        &::before,
        &::after{
            width: 40px;
            height: 2px;
        }
        &::before{
            transform: translateY(16px) rotate(45deg);
        }
        &::after{
            transform: translateY(16px) rotate(-45deg);
        }
    }
}
@media (min-width: 1280px) {
    .modal__text{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .close{
        top: 11rem;
        right: 6.25rem;
        width: 46px;
        height: 46px;
        &::before,
        &::after{
            width: 46px;
            height: 2px;
        }
        &::before{
            transform: translateY(18px) rotate(45deg);
        }
        &::after{
            transform: translateY(18px) rotate(-45deg);
        }
    }

}

