.header {
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center center/cover url('img/background/hero.png') no-repeat;
}
.header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 0 5px;
}
.header__top-left{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__top-center {
    display: none;
    flex-direction: column;
}
.header__phone{
    display: none;
}
.header__top-right{
    display: none;
}

.logo__icon {
    fill: #003469;
    width: 223px;
    max-height: 18px;
}



.hyundai-button {
    border-radius: 10px;
    padding: 1rem 1.25rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .875rem;
    // z-index: 9;


    &--orange{
        background-color: #EF4123;
        color: #fff;
    }
    &--bottom{
        margin-top: auto;
    }
    &--link{
        color: $color-hyundai-blue;
    }
    &--large{
        width: 100%;
        text-align: center;
    }
    &--border{
        border: 1px solid $color-hyundai-blue;
        color: $color-hyundai-blue;
        background-color: #fff;
        min-width: 173px;
    }
    &--dark{
        background-color: $color-hyundai-blue;
        color: #fff;
        display: block;
    }
    &--mobile{
        display: block;
    }
    &--desktop{
        display: none;
    }
    &--right{
        margin-left: auto;
    }
}



.nav{
    display: none;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__list-item {
    flex: 1;
    text-align: center;
    padding: 1rem 0;
    border-left: 1px solid #fff;
}

.nav__list-item:last-child {
    border-right: 1px solid #fff;
}

.nav__link {
    border-bottom: 1px solid #fff;
}

.test-section {
    height: 100vh;
}

.left__block {
    color: #fff;
    width: 100%;
    padding-top: 12rem;
}

.left__block-head {
    padding: 0 12px;
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.left__block-text {
    max-width: 65%;
    font-size: 0,875rem;
    padding: 0 12px;
}

.header__bottom{
    background-color: #fff;
    padding: 10px;
}
.header__nav-mobile{
    visibility: hidden;
    max-height: 0px;
    width: 100%;
    background: #fff;
    transition: max-height .2s;
    &.menu-open{
        visibility:visible;
        max-height: 200vh;
    }
}
.nav-mobile{
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 25px;
    overflow-y: scroll;
}
.nav-mobile__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-mobile__list-item{
    padding: 18px 0;
    border-bottom: 1px solid #C7C7C7;
}

.nav-mobile__link{
    color: #000;
}
.header__button-mobile{
    // margin-top: 10px;
}

.header__buttons-mobile{
    display: flex;
    .burger-button,
    .phone-button{
        width: 40px;
        height: 40px;
        display: block;
        padding: 10px;
        border-radius: 50%;
        background-color: $color-hyundai-blue;

    }
    .phone-button{
        margin-right: 10px;
    }
    .burger-button{
        border: none;
        &.burger-menu-open{
            background-color: #EF4123;
            .close__icon{
                display: inline;
            }
            .burger__icon{
                display: none;
            }

        }
    }
    .burger__icon,
    .close__icon,
    .phone__icon{
        fill: #fff;
        height: 100%;
        width: 100%;
    }
    .close__icon{
        display: none;
    }
}

.mobile-buttons__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    a{
        margin-bottom: 5px;
    }
    &:last-child{
        margin-bottom: none;
    }
}

@media (min-width: 656px) {
    .left__block-head {
        font-size: 3rem;
    }
}
@media (min-width: 848px) {
    .mobile-buttons{
        display: none;
    }
    .header {
        height: 100vh;
    }
    .hyundai-button{
        padding: 1rem 2rem;
        font-size: 1rem;

    }
    .header__wrapper{
        background-color: unset;
        padding: 0;
    }
    .header__menu{
        flex-wrap: nowrap;
    }
    .header__top{
        padding: 1.5rem 0;
    }
    .header__top-center {
        display: flex;
        span{
            margin-right: 1rem;
        }
    }
    .header__top-left{
        width: unset;
        display: block;
        padding: unset;
    }
    .header__phone{
        display: inline;
        margin-right: 1rem;
    }
    .header__top-right{
        display: block;
    }
    .header__button-mobile{
        display: none;
    }
    .header__buttons-mobile{
        display: none;
    }
    .header__nav-mobile{
        visibility: hidden;
        max-height: 0;
    }
    .nav{
        display: block;
    }

    .header__bottom {
        color: #fff;
        border-bottom: 1px solid #fff;
        background-color: rgba(246, 246, 246, 0);
        transition: background-color .2s;
        &.header-show{
            background-color: rgba(246, 246, 246, 1);
            color: #363636;
            .nav__link{
                border-color: #363636;
            }
        }
    }

    .left__block-head {
        padding: 0;
        font-size: 2.5rem;
        width: 60%;
    }
    .left__block-text {
        padding: 0;
        max-width: 35%;
    }
    .hyundai-button {
        &--mobile{
            display: none;
        }
        &--desktop{
            display: block;
        }
    }

}
@media (min-width: 1032px) {
    .header__top-center {
        flex-direction: row;
    }
    .left__block-head {
        font-size: 4rem;
    }
    .left__block-text {
        font-size: 1.5rem;
    }
    .logo__icon {
        width: 275px;
    }
}
@media (min-width: 1280px) {
    .header__top-center {
        span{
            margin-right: 2.375rem;
        }
    }
    .header__phone{
        margin-right: 3.375rem;
    }
    .left__block-head {
        font-size: 5rem;
    }
    .left__block-text {
        font-size: 2.5rem;
    }
    .logo__icon {
        width: 335px;
    }

}