.container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

@each $screen, $size in $container {
    @media (min-width: $screen) {
        .container {
            max-width: $size;
        }
    }
}