.container {
    width: calc(100vw - 20px);
    margin: 0 auto;
}

@each $screen, $size in $container {
    @media (min-width: $screen) {
        .container {
            max-width: $size;
        }
    }
}