section.contacts
    .contacts__left
        .addres__wrapper
            h2.contacts__city г. Санкт—Петербург
            .addres-blocks
                .addres__left
                    address.addres__street ул. Торговая, зд. 22
                    address.addres__place пос. Бугры, д.Порошкино
                        br
                        |Пн-Вс с 8:00 до 22:00
                    a(href="tel:88122202164") +7 (812) 220—21—64
                .addres__right
                    p.addres__desc Рядом с Мегой Парнас! От Меги предоставляем бесплатный трансфер до дилерского центра
        button.hyundai-button(type='button') Записаться на сервис
    .contacts__right
        .contacts__map(id="yandexMap")
script(src="https://api-maps.yandex.ru/2.1/?apikey=75d6e791-f6a8-4403-8028-f211510a6bdb&lang=ru_RU")