section.slider-photo
	.splide__track
		ul.splide__list
			li.splide__slide.slide-1
			li.splide__slide.slide-2
			li.splide__slide.slide-3
			li.splide__slide.slide-4
			li.splide__slide.slide-5
			li.splide__slide.slide-6
			li.splide__slide.slide-7
			li.splide__slide.slide-8
			li.splide__slide.slide-9