section.slider-photo
	.splide__track
		ul.splide__list
			li.splide__slide.slide-1
				.splide__slide__container
			li.splide__slide.slide-2
				.splide__slide__container
			li.splide__slide.slide-3
				.splide__slide__container
			li.splide__slide.slide-4
				.splide__slide__container
			li.splide__slide.slide-5
				.splide__slide__container
			li.splide__slide.slide-6
				.splide__slide__container
			li.splide__slide.slide-7
				.splide__slide__container
			li.splide__slide.slide-8
				.splide__slide__container
			li.splide__slide.slide-9
				.splide__slide__container