section.mobile-buttons
    .container
        .mobile-buttons__wrapper
            a.hyundai-button.hyundai-button--link.hyundai-button--dark.hyundai-button--large(href='#' data-section="pricelist") Кузовной ремонт
            a.hyundai-button.hyundai-button--link.hyundai-button--dark.hyundai-button--large(href='#' data-section="feedback") Запись на сервис
            a.hyundai-button.hyundai-button--link.hyundai-button--dark.hyundai-button--large(href='#' data-section="offers") Акции