include blocks/head.pug
    body
        .container
            ul.item__list
                li.list__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, at consequatur? Tempore doloribus ullam unde perferendis et! Aperiam recusandae itaque provident vitae atque vel quaerat? Optio officia maxime ratione sit!
                li.list__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, at consequatur? Tempore doloribus ullam unde perferendis et! Aperiam recusandae itaque provident vitae atque vel quaerat? Optio officia maxime ratione sit!
                li.list__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, at consequatur? Tempore doloribus ullam unde perferendis et! Aperiam recusandae itaque provident vitae atque vel quaerat? Optio officia maxime ratione sit!
                li.list__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, at consequatur? Tempore doloribus ullam unde perferendis et! Aperiam recusandae itaque provident vitae atque vel quaerat? Optio officia maxime ratione sit!
                li.list__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, at consequatur? Tempore doloribus ullam unde perferendis et! Aperiam recusandae itaque provident vitae atque vel quaerat? Optio officia maxime ratione sit!