include blocks/head.pug
body
    .container
        .diagram__wrapper
            svg.diagram(viewBox="0 0 500 500")
                each color, name in ColorsFromFile.colors
                    circle.circle(class= 'circle' + '--' + name class= 'percent' + '-' + (Math.floor(Math.random() * 20)) * 5)
