@mixin font($typeMix, $filenameMix, $weightMix, $styleMix) {
    @font-face {
        font-family: 'Hyundai' + $typeMix;
        src: url('./fonts/' + $filenameMix) format('woff');
        font-weight: $weightMix;
        font-style: $styleMix;
    }
}

@mixin placeholder{
    color:#A0A0A0;
    font-weight: 500;
    font-family: "HyundaiText", Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}