section.slider-stranges.container
	.splide__track
		ul.splide__list
			li.splide__slide
				.splide__slide__container
					h2.stranges-slide__text Самый современный
						br
						|сервисный центр Hyundai
						br
						|в России
			li.splide__slide
				.splide__slide__container
					h2.stranges-slide__text Новейший
						br
						|дилер Hyundai
						br
						|в Санкт-Петербурге
			li.splide__slide
				.splide__slide__container
					h2.stranges-slide__text Высококвалифицированный
						br
						|персонал