script(src="js/pixel.js")
noscript
	img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=423056506125550&ev=PageView&noscript=1")
header.header
	.header__wrapper
		.header__top
			.container
				.header__top-left
					a.logo(href="/")
						+icon('logo')(class="logo__icon")
				.header__top-center
					span Пн-Вс с 8:00 до 22:00
					address ул. Торговая, д. 22
				.header__top-right
					a.header__phone(href='tel:88122202158') +7(812)220-21-58
					button.hyundai-button.hyundai-button--orange(type='button' data-target="feedbackModal") Заказать звонок
		.header__bottom
			.container
				nav.nav
					ul.nav__list
						li.nav__list-item
							a.nav__link(href='#' data-section="feedback") Запись на сервис
						li.nav__list-item
							a.nav__link(href='#' data-section="pricelist") Кузовной ремонт
						li.nav__list-item
							a.nav__link(href='#' data-section="offers") Акции
	.header__content
		.left__block
			.container
				h1.left__block-head Мега Hyundai Парнас!
				p.left__block-text -90% на обслуживание! Мега акции для первых покупателей!
